.row {
  display: grid;
  grid-template-columns: repeat(9, auto);
  margin: auto;
  background: var(--lightGrid);
  color: var(--lightEditableNumber);
  font-size: 2rem;
  .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--gridSize);
    width: var(--gridSize);
    border: 1px solid var(--lightBorder);
    cursor: default;

    &.border_h {
      border-bottom: 3px solid var(--lightBorder);
      // box-shadow: inset 0px -3px 0 0 var(--lightBorder);
    }
    &.border_v {
      border-right: 3px solid var(--lightBorder);
      // box-shadow: inset -3px 0 0 var(--lightBorder);
    }
    &.border_hv {
      border-bottom: 3px solid var(--lightBorder);
      border-right: 3px solid var(--lightBorder);
      // box-shadow: inset -3px -3px 0 var(--lightBorder);
    }
  }
  .disable {
    color: var(--lightNumber);
  }
  .area {
    background: var(--lightArea);
  }
  .selected {
    background: var(--lightAreaSelected);
  }
}
